<div class="container p-3 flex flex-col gap-y-4">
  <!-- Header -->
  <div class="flex gap-x-4">
    <div class="w-24 border-black border-4">
      <%= image_tag("img.png") %>
    </div>
    <div class="flex justify-between w-full px-5 py-2 border-black border-4">
      <h1 class="text-4xl">
        <%= @user.name %>
      </h1>
      <span class="text-sm self-end">Number of posts: <%= @user.posts_counter || 0 %></span>
    </div>
  </div>
  <!-- Bio -->
  <div class="flex gap-x-4">
    <div class="flex justify-between flex-col w-full px-5 py-2 border-black border-4">
      <h1 class="text-xl pb-4">Bio</h1>
      <span>
        <%= @user.bio %>
      </span>
    </div>
  </div>
  <!-- Posts -->
  <div class="post">
    <% @user.recent_posts.each do |post| %>
      <div class="flex flex-col w-full px-5 py-2 border-black border-4">
        <h1 class="text-xl pb-4">Post #<%= post.id %></h1>
        <span><%= post.text %></span>
        <div class="text-sm self-end">
          <span>Comments: <%= post.comments_counter || 0 %></span>
          <span>, Likes: <%= post.likes_counter || 0 %></span>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'See all posts', user_posts_path(@user.id), class: 'self-center border-black border-4 px-2 py-1' %>
</div>