<div class="container p-3 flex flex-col gap-y-4">
  <div>
    <div class="flex flex-col w-full p-3 border-black border-4">
      <div class="flex items-center justify-between">
        <h1 class="text-xl pb-4">Post #<%= @post.id %> by <%= @post.author.name %></h1>
        <div class="text-sm">
          <span>Comments: <%= @post.comments_counter || 0 %></span>
          <span>, Likes: <%= @post.likes_counter || 0 %></span>
        </div>
      </div>
      <p><%= @post.text %></p>
      <%= button_to 'Like this post', user_post_likes_path(@post.author, @post), method: :post %>
    </div>
    <div class="container p-3 flex flex-col border-black border-4">
      <% @post.comments.each do |comment| %>
        <p>
          <%= comment.author.name %>: <%= comment.text %>
        </p>
        <% end %>
    </div>
  </div>
  <div class="self-center">
    <%= render 'comments/form' %>
  </div>
</div>